* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem 1rem;
}

button {
  padding: 0.75rem 1rem;
  color: white;
  border-radius: 3rem;
  border: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12 px;
  background-color: aliceblue;
}

li {
  list-style-type: none;
  position: relative;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  padding: 4px;
  margin: 12px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.addBTN {
  background-color: blue;
  margin: 8px;
}

.removeBtn {
  background-color: red;
}

.list-wrapper {
  display: flex;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.rmv-line {
  position: absolute;
  background-color: red;
  height: 0.3rem;
  width: 1rem;
  right: -60;
  top: 7;
}

img {
  position: absolute;
  color: white;
  background-color: rgb(186, 186, 255);
  height: 23px;
  width: auto;
  right: -95;
  top: -2;
}

.form-and-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-item {
  margin: 5px 0;
}

.warning-text {
  visibility: hidden;;
  color: red;
  font-size: 0.85rem;
}